html {

    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.content-section {

  align-items: flex-start;
  display: flex;
  width: 100%;

  section {

    margin: 0 auto;
    max-width: 1240px;
    padding: 50px 20px;
    width: 100%;
  }

}

.columns {

  display: flex;
  article { flex: 1 }
}

.actions {

  align-items:center;
  display: flex;
  justify-content: flex-end;

  .btn {

    margin-left: 1rem;
    &:hover { text-decoration: none }
  }

  .cancel,
  .delete { @include button($c-white, $c-alert) }
}

.tag { @include tag() }

.heading {

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .title { margin: 0; }
  a:hover { text-decoration: none }
}

.video-overlay {

  align-items: center;
  background: rgba(255,255,255,0.8);
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.hide { display: none }

  .title { margin-bottom: 10px; }
}

.cta-no-link {

  color: $c-primary;
  cursor: pointer;
  display: inline-block;

  &:hover { text-decoration: underline; }
}

.pagination {

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px;

  li {

    color: $c-primary;
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px;

    &:hover { text-decoration: underline }
    &:last-of-type { margin: 0; }
    &.selected { color: $c-secondary; }
  }
}
