@mixin button($font: $c-secondary, $bg: $c-primary) {

  background-color: $bg;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  color: $font;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:not([disabled]) {

    &:hover {

      opacity: 0.9;
      transform: scale(1.01);
      text-decoration: none;
    }

    &:active {

      transition: none;
      transform: scale(1);
    }
  }

  &[disabled] { opacity: 0.3 }
}

@mixin tag($col:$c-primary, $bg:$c-secondary) {

  background-color: $bg;
  border-radius: 2px;
  color: $col;
  display: inline-block;
  margin: 0.15rem 0.05rem;
  padding: 0.5rem;

  .delete-tag { cursor: pointer }
}

@mixin shadow() { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); }
