<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #e7aa00;"></span>
		<span class="sg-label">
			$c-primary <br />
			#e7aa00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">
			$c-secondary <br />
			#333
		</span>
	</li>
</ul>
