<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $c-white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f1f1;"></span>
		<span class="sg-label">
			$c-light-bg <br />
			#f1f1f1
		</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">
			$c-gray <br />
			#808080
		</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #111;"></span>
		<span class="sg-label">
			$c-black <br />
			#111
		</span>
	</li>
</ul>
