<ul class="sg-colors">

	<li>
		<span class="sg-swatch" style="background: #006a08;"></span>
		<span class="sg-label">
            $c-success <br />
            #006a08
        </span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #cf3014;"></span>
		<span class="sg-label">
			$c-alert <br />
			#cf3014
		</span>
	</li>

</ul>
