.number {
  font-size: 3rem; }

.title {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400; }

.sub-title {
  font-size: 1.5rem;
  font-weight: 400; }

.big {
  font-weight: 400;
  font-size: 1.25rem; }

.normal {
  font-weight: 400;
  font-size: 1rem; }

.small {
  font-weight: 400;
  font-size: 0.8rem; }

.input-placeholder {
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.7; }

a {
  color: #e7aa00;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.btn {
    color: currentColor; }

.special-link {
  color: #333;
  display: block;
  margin-bottom: 20px;
  text-decoration: underline; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  border: 1px solid #e7aa00;
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  height: 30px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  -moz-appearance: textfield; }
  input[type="text"].ng-dirty.ng-invalid,
  input[type="email"].ng-dirty.ng-invalid,
  input[type="password"].ng-dirty.ng-invalid,
  input[type="number"].ng-dirty.ng-invalid,
  input[type="date"].ng-dirty.ng-invalid,
  textarea.ng-dirty.ng-invalid {
    border-color: #cf3014; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

textarea {
  font-size: 16px;
  line-height: 1.4;
  min-height: 150px;
  padding: 20px 10px; }

.btn,
input[type="submit"] {
  margin: 0;
  background-color: #e7aa00;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  color: #333;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-align: center; }
  .btn:not([disabled]):hover,
  input[type="submit"]:not([disabled]):hover {
    opacity: 0.9;
    transform: scale(1.01);
    text-decoration: none; }
  .btn:not([disabled]):active,
  input[type="submit"]:not([disabled]):active {
    transition: none;
    transform: scale(1); }
  .btn[disabled],
  input[type="submit"][disabled] {
    opacity: 0.3; }
  .btn input,
  input[type="submit"] input {
    display: none; }
  .btn.cancel, .btn.delete,
  input[type="submit"].cancel,
  input[type="submit"].delete {
    background-color: #cf3014;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center; }
    .btn.cancel:not([disabled]):hover, .btn.delete:not([disabled]):hover,
    input[type="submit"].cancel:not([disabled]):hover,
    input[type="submit"].delete:not([disabled]):hover {
      opacity: 0.9;
      transform: scale(1.01);
      text-decoration: none; }
    .btn.cancel:not([disabled]):active, .btn.delete:not([disabled]):active,
    input[type="submit"].cancel:not([disabled]):active,
    input[type="submit"].delete:not([disabled]):active {
      transition: none;
      transform: scale(1); }
    .btn.cancel[disabled], .btn.delete[disabled],
    input[type="submit"].cancel[disabled],
    input[type="submit"].delete[disabled] {
      opacity: 0.3; }

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 10px; }

.form-group {
  position: relative; }
  .form-group .alert {
    font-size: 0.7rem;
    position: absolute;
    right: 0;
    top: 0; }
    .form-group .alert.alert-danger {
      color: #cf3014; }

select {
  background-color: transparent;
  background-image: url(../../images/svg/select_arrow.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: 1px solid #e7aa00;
  border-radius: 2px;
  cursor: pointer;
  height: 30px;
  max-width: 100%;
  outline: none;
  padding: 0 1rem;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none; }

select::-ms-expand {
  display: none; }

.radio,
.checkbox {
  display: inline-block;
  padding: 0 20px;
  position: relative; }
  .radio input[type='checkbox'],
  .radio input[type='radio'],
  .checkbox input[type='checkbox'],
  .checkbox input[type='radio'] {
    display: none; }
  .radio label,
  .checkbox label {
    cursor: pointer;
    padding-left: 30px;
    position: relative; }
    .radio label:before, .radio label:after,
    .checkbox label:before,
    .checkbox label:after {
      display: block;
      left: 0;
      position: absolute;
      transition-duration: .3s;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s; }

.checkbox label:after {
  background: transparent;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #e7aa00;
  content: "";
  height: 18px;
  position: absolute;
  top: 0;
  width: 18px;
  z-index: 9;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s; }

.checkbox label:before {
  border: 2px solid #fff;
  border-left: none;
  border-top: none;
  content: "";
  height: 15px;
  left: 6px;
  top: -1px;
  opacity: 0;
  width: 5px;
  z-index: 10;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s; }

.checkbox input[type='checkbox']:checked ~ label:after {
  background: #e7aa00;
  border: none; }

.checkbox input[type='checkbox']:checked ~ label:before {
  opacity: 1;
  transform: scale(1) rotate(45deg);
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg); }

.radio {
  height: 34px; }
  .radio label {
    margin: 10px 0; }
    .radio label:after {
      background: transparent;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #e7aa00;
      content: "";
      height: 18px;
      position: absolute;
      top: 0;
      width: 18px;
      z-index: 9;
      transition-delay: .2s;
      -webkit-transition-delay: .2s;
      -moz-transition-delay: .2s; }
    .radio label:before {
      background-color: #e7aa00;
      border-radius: 50%;
      content: "";
      height: 10px;
      left: 4px;
      top: 4px;
      opacity: 0;
      width: 10px;
      z-index: 10; }
  .radio input[type='radio']:checked ~ label:before {
    opacity: 1; }

.icons img {
  height: 30px; }

.individual img {
  width: 100px; }

html {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 100; }

.content-section {
  align-items: flex-start;
  display: flex;
  width: 100%; }
  .content-section section {
    margin: 0 auto;
    max-width: 1240px;
    padding: 50px 20px;
    width: 100%; }

.columns {
  display: flex; }
  .columns article {
    flex: 1; }

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  .actions .btn {
    margin-left: 1rem; }
    .actions .btn:hover {
      text-decoration: none; }
  .actions .cancel,
  .actions .delete {
    background-color: #cf3014;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center; }
    .actions .cancel:not([disabled]):hover,
    .actions .delete:not([disabled]):hover {
      opacity: 0.9;
      transform: scale(1.01);
      text-decoration: none; }
    .actions .cancel:not([disabled]):active,
    .actions .delete:not([disabled]):active {
      transition: none;
      transform: scale(1); }
    .actions .cancel[disabled],
    .actions .delete[disabled] {
      opacity: 0.3; }

.tag {
  background-color: #333;
  border-radius: 2px;
  color: #e7aa00;
  display: inline-block;
  margin: 0.15rem 0.05rem;
  padding: 0.5rem; }
  .tag .delete-tag {
    cursor: pointer; }

.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .heading .title {
    margin: 0; }
  .heading a:hover {
    text-decoration: none; }

.video-overlay {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .video-overlay.hide {
    display: none; }
  .video-overlay .title {
    margin-bottom: 10px; }

.cta-no-link {
  color: #e7aa00;
  cursor: pointer;
  display: inline-block; }
  .cta-no-link:hover {
    text-decoration: underline; }

.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px; }
  .pagination li {
    color: #e7aa00;
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px; }
    .pagination li:hover {
      text-decoration: underline; }
    .pagination li:last-of-type {
      margin: 0; }
    .pagination li.selected {
      color: #333; }

.nav-options {
  align-items: center;
  background-color: #333;
  display: flex; }
  .nav-options li {
    display: inline-block;
    margin-left: 20px; }
    .nav-options li a {
      color: #fff;
      transition: all 0.3s ease-in-out; }
    .nav-options li svg {
      height: 30px;
      width: 30px; }
      .nav-options li svg path {
        fill: #fff;
        transition: all 0.3s ease-in-out; }
    .nav-options li .is-active a, .nav-options li:hover a {
      color: #e7aa00; }
    .nav-options li .is-active svg path, .nav-options li:hover svg path {
      fill: #e7aa00; }

.video-tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  background-color: rgba(231, 170, 0, 0.25);
  border-right: 1px solid #111;
  justify-content: center;
  margin: 0 0 10px 0;
  max-width: 210px;
  min-width: 210px;
  padding: 10px 20px;
  text-align: center; }
  .video-tab:last-of-type {
    border: none; }
  .video-tab:hover {
    background-color: rgba(231, 170, 0, 0.5); }
  .video-tab.error {
    background-color: rgba(207, 48, 20, 0.5);
    color: #fff; }
    .video-tab.error:hover {
      background-color: rgba(207, 48, 20, 0.65); }
    .video-tab.error.selected {
      background-color: #cf3014; }
  .video-tab.success {
    background-color: rgba(0, 106, 8, 0.5);
    color: #fff; }
    .video-tab.success:hover {
      background-color: rgba(0, 106, 8, 0.65); }
    .video-tab.success.selected {
      background-color: #006a08; }
  .video-tab.selected {
    background-color: #e7aa00; }

.create-form .tags-cont {
  margin-bottom: 20px; }

.header {
  align-items: center;
  background-color: #333;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 20px; }

.tabs {
  display: flex;
  overflow: auto;
  width: 100%; }

.filter {
  display: flex; }
  .filter > div:nth-child(1) {
    flex: 2;
    margin-right: 50px; }
  .filter > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 3; }
  .filter .filter-date {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px; }
    .filter .filter-date p {
      line-height: 30px;
      margin: 0 5px; }
    .filter .filter-date label {
      min-width: 100%; }
    .filter .filter-date input[type='date'] {
      width: 50%; }
    .filter .filter-date input[type='number'] {
      width: 10%; }
