input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {

    border: 1px solid $c-primary;
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 10px;
    width: 100%;

    -moz-appearance: textfield;

    &.ng-dirty.ng-invalid { border-color: $c-alert }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea{

    font-size: 16px;
    line-height: 1.4;
    min-height: 150px;
    padding: 20px 10px;
}

.btn,
input[type="submit"] {

    margin: 0;
    @include button();
    input { display: none; }

    &.cancel,
    &.delete { @include button($c-white, $c-alert) }
}

label {

    display: block;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.form-group {

    position: relative;

    .alert {

        font-size: 0.7rem;
        position: absolute;
        right: 0;
        top: 0;

        &.alert-danger { color: $c-alert }
    }
}

// SELECT STYLING

select {

    background-color: transparent;
    background-image: url(../../images/svg/select_arrow.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;

    border: 1px solid $c-primary;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    max-width: 100%;
    outline: none;
    padding: 0 1rem;
    width: 200px;

    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand { display: none; }

// CHECKBOX & RADIO STYLING

.radio,
.checkbox{

    display:inline-block;
    padding: 0 20px;
    position: relative;

    input[type='checkbox'],
    input[type='radio']{ display: none }

    label {

        cursor:pointer;
        padding-left:30px;
        position: relative;

        &:before,
        &:after {

            display: block;
            left: 0;
            position: absolute;

            transition-duration:.3s;
            -webkit-transition-duration:.3s;
            -moz-transition-duration:.3s;
        }
    }
}

.checkbox {

    label {

        &:after {

            background: transparent;
            border-radius: 2px;
            box-shadow: 0 0 0 2px $c-primary;
            content: "";
            height: 18px;
            position: absolute;
            top: 0;
            width: 18px;
            z-index: 9;

            transition-delay: .2s;
            -webkit-transition-delay: .2s;
            -moz-transition-delay: .2s;
        }

        &:before {

            border:2px solid $c-white;
            border-left: none;
            border-top: none;
            content: "";
            height: 15px;
            left: 6px;
            top: -1px;
            opacity: 0;
            width: 5px;
            z-index: 10;

            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transition-delay: .3s;
            -webkit-transition-delay: .3s;
            -moz-transition-delay: .3s;
        }
    }

    input[type='checkbox']:checked ~ label:after {

        background: $c-primary;
        border: none;
    }

    input[type='checkbox']:checked ~ label:before {

        opacity:1;

        transform:scale(1) rotate(45deg);
        -webkit-transform:scale(1) rotate(45deg);
        -moz-transform:scale(1) rotate(45deg);
    }
}



.radio {

    height: 34px;


    label {

        margin: 10px 0;

        &:after {

            background: transparent;
            border-radius: 50%;
            box-shadow: 0 0 0 2px $c-primary;
            content: "";
            height: 18px;
            position: absolute;
            top: 0;
            width: 18px;
            z-index: 9;

            transition-delay: .2s;
            -webkit-transition-delay: .2s;
            -moz-transition-delay: .2s;
        }

        &:before {

            background-color: $c-primary;
            border-radius: 50%;
            content: "";
            height: 10px;
            left: 4px;
            top: 4px;
            opacity: 0;
            width: 10px;
            z-index: 10;
        }
    }

    input[type='radio']:checked ~ label:before {

        opacity:1;

    }
}
