.number { font-size: 3rem }

.title {

  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
}

.sub-title {

  font-size: 1.5rem;
  font-weight: 400;
}

.big {

  font-weight: 400;
  font-size: 1.25rem;
}

.normal {

  font-weight: 400;
  font-size: 1rem;
}

.small {

  font-weight: 400;
  font-size: 0.8rem;
}

.input-placeholder {

  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.7;
}

a {

  color: $c-primary;
  text-decoration: none;

  &:hover { text-decoration: underline }

  &.btn { color: currentColor }
}

.special-link {

  color: $c-secondary;
  display: block;
  margin-bottom: 20px;
  text-decoration: underline;
}
