{{# field }}
<div class="c-field">
	<label for="{{ id }}" class="c-field__label">{{ label }}</label>
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />

	<div class="btn">
		Create
	</div>
</div><!--end c-field-->
{{/ field }}
