{{# field }}
<div class="create-form">
	<label for="{{ id }}" class="c-field__label">{{ label }}</label>
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />

	<div class="tags-cont">

		<div class="tags">
			<div class="tag small">Tag example</div>
		</div>

		<select class="tag-select" name="tags">
			<option value="tag">Tag1</option>
			<option value="tag">Tag2</option>
			<option value="tag">Tag3</option>
		</select>

	</div>

	<div class="btn">
		Create
	</div>
</div><!--end c-field-->
{{/ field }}
