<div class="filter">

    <div class="">

        <div class="text-input">
            <label for="input">Label</label>
            <input type="text" id='input' name="input" placeholder='input'>
        </div>

        <div class="tags-cont">

            <div class="tags">
                <div class="tag small">Tag example</div>
            </div>

            <select class="tag-select" name="tags">
                <option value="tag">Tag1</option>
                <option value="tag">Tag2</option>
                <option value="tag">Tag3</option>
            </select>

        </div>
    </div>

    <div class="">

        <div class="filter-date">
            <label for="">From</label>
            <input type="date" name="date-start" value="">
            <p>At</p>
            <input type="number" name="hours-start" min="00" max="24" placeholder="00">
            <p>:</p>
            <input type="number" name="mins-start" min="00" max="60" placeholder="00">
            <p>:</p>
            <input type="number" name="secs-start" min="00" max="60" placeholder="00">
        </div>

        <div class="filter-date">
            <label for="">To</label>
            <input type="date" name="date-end" value="">
            <p>At</p>
            <input type="number" name="hours-end" min="00" max="24" placeholder="00">
            <p>:</p>
            <input type="number" name="mins-end" min="00" max="60" placeholder="00">
            <p>:</p>
            <input type="number" name="secs-end" min="00" max="60" placeholder="00">
        </div>

    </div>
</div>
