<ul class="nav-options">

    <li><a href='#'>Cámara en vivo</a></li>
    <li><a href='#'>Análisis de video</a></li>
    <li><a href='#'>Detecciones</a></li>
    <li><a href='#'>Individuos</a></li>

    <li>
      <a href='#'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2131 2131">
          <g fill-rule="evenodd">
            <path d="M2117.67865,685.633327 C2134.74663,609.035554 2135.16292,528.274858 2118.09494,450.428209 L1817.53194,750.991209 L1802.96171,765.561438 L1782.56339,759.733346 L1482.41668,672.728267 L1463.68353,667.316468 L1458.27173,648.583317 L1371.26665,348.436609 L1365.43856,328.038289 L1380.00879,313.46806 L1680.57179,12.9050596 C1602.30885,-4.16292245 1521.96445,-4.16292245 1445.36667,13.3213518 C1353.36609,34.1359641 1266.7773,79.5118187 1196.42391,150.2815 C1125.65423,221.051182 1080.27837,307.639969 1059.46376,399.224263 C1037.81657,494.971479 1043.22836,596.130494 1074.86658,691.461418 L1081.94354,712.27603 L1066.54073,727.678844 L69.5208048,1724.69877 C23.3123657,1770.90721 0,1832.10217 0,1893.29713 C0,1954.49209 23.3123657,2015.27076 69.5208048,2061.4792 L69.5208048,2061.4792 C115.729244,2107.68763 176.924204,2131 238.119164,2131 C299.314124,2131 360.509084,2107.68763 406.717523,2061.4792 L1403.73745,1064.45927 L1419.14026,1049.05646 L1439.95487,1056.13342 C1535.2858,1087.77164 1636.86111,1093.18343 1732.19203,1071.53624 C1824.19262,1050.72163 1910.7814,1005.34577 1981.13479,934.576089 C2051.90447,863.806408 2097.28033,777.217621 2118.09494,685.633327 L2117.67865,685.633327 Z M250.607931,1739.269 C289.32311,1739.269 324.707951,1755.0881 350.101778,1780.48193 C375.495605,1805.87576 391.31471,1841.2606 391.31471,1879.97578 C391.31471,1918.69096 375.495605,1954.0758 350.101778,1979.46962 C324.707951,2004.86345 289.32311,2020.68256 250.607931,2020.68256 C211.892752,2020.68256 176.507912,2004.86345 151.114085,1979.46962 C125.720258,1954.0758 109.901153,1918.69096 109.901153,1879.97578 C109.901153,1841.2606 125.720258,1805.87576 151.114085,1780.48193 C176.507912,1755.0881 211.892752,1739.269 250.607931,1739.269 Z"/>
            <path d="M320.545028,1880.39207 C320.545028,1861.24263 312.635476,1843.75835 300.146708,1830.85329 C287.657941,1818.36452 270.173667,1810.45497 250.607931,1810.45497 C231.458488,1810.45497 213.974214,1818.36452 201.069154,1830.85329 C188.580387,1843.34206 180.670834,1860.82633 180.670834,1880.39207 C180.670834,1899.54151 188.580387,1917.02579 201.069154,1929.93085 C213.557921,1942.41961 231.042196,1950.32917 250.607931,1950.32917 C269.757374,1950.32917 287.241649,1942.41961 300.146708,1929.93085 C312.635476,1917.44208 320.545028,1899.9578 320.545028,1880.39207 Z"/>
          </g>
        </svg>
      </a>
    </li>

    <li><a href='#'>Logout</a></li>

  </ul>
