<div class="video-tab">Video Tab</div>
<div class="video-tab selected">Video Tab selected</div>

<div class="video-tab error">Video Tab error</div>
<div class="video-tab error selected">Video Tab error selected</div>

<div class="video-tab success">Video Tab success</div>
<div class="video-tab success selected">Video Tab success selected</div>
