.nav-options {

    align-items: center;
    background-color: $c-secondary;
    display: flex;

    li {

      display: inline-block;
      margin-left: 20px;

      a {

        color: $c-white;
        transition: all 0.3s ease-in-out;
      }

      svg {

        height: 30px;
        width: 30px;

        path {

          fill: $c-white;
          transition: all 0.3s ease-in-out;
        }
      }

      .is-active,
      &:hover {

        a { color: $c-primary; }
        svg path { fill: $c-primary; }
      }
    }
  }
