.video-tab {

    align-items: center;
    cursor: pointer;
    display: flex;
    background-color: rgba($c-primary, 0.25);
    border-right: 1px solid $c-black;
    justify-content: center;
    margin: 0 0 10px 0;
    max-width: 210px;
    min-width: 210px;
    padding: 10px 20px;
    text-align: center;

    &:last-of-type { border: none; }

    &:hover { background-color: rgba($c-primary, 0.5); }

    &.error {

      background-color: rgba($c-alert, 0.5);
      color: $c-white;

      &:hover { background-color: rgba($c-alert, 0.65); }
      &.selected { background-color: $c-alert; }
    }

    &.success {

      background-color: rgba($c-success, 0.5);
      color: $c-white;

      &:hover { background-color: rgba($c-success, 0.65); }
      &.selected { background-color: $c-success; }
    }

    &.selected { background-color: $c-primary; }
  }
