<div class="icons">

    <img src="{{ imgShow.src }}" alt="{{ imgShow.alt }}" class="{{ styleModifier }}" />
    <img src="{{ imgEdit.src }}" alt="{{ imgEdit.alt }}" class="{{ styleModifier }}" />
    <img src="{{ imgDelete.src }}" alt="{{ imgDelete.alt }}" class="{{ styleModifier }}" />
    <img src="{{ imgConfig.src }}" alt="{{ imgConfig.alt }}" class="{{ styleModifier }}" />
    <img src="{{ imgSelArrow.src }}" alt="{{ imgSelArrow.alt }}" class="{{ styleModifier }}" />

</div>
