<div class="radio">

    <input type="radio" id="radio" name='radio' value='0' checked>
    <label for="radio">Buscar en la base de datos</label>

</div>

<div class="radio">

    <input type="radio" id="radio-2" name='radio' value='1'>
    <label for="radio-2">Buscar en la base de datos</label>

</div>
