.filter {

    display: flex;

    > div:nth-child(1) {

        flex: 2;
        margin-right: 50px;
    }

    > div:nth-child(2) {

        display: flex;
        flex-direction: column;
        flex: 3;
    }

    .filter-date {

        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;

        p {

            line-height: 30px;
            margin: 0 5px;
        }

        label { min-width: 100%; }
        input[type='date'] { width: 50%; }
        input[type='number'] { width: 10%; }
    }
}
